@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(147, 147, 147);
  height: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

#startGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

#startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  margin-top: 55px;
  height: 60px;
  background-color: hsl(300, 33%, 32%);
  border: 5px solid hsl(300, 33%, 16%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

.btn:hover {
  border-color: black
}

#text {
  font-size: 40px;
  color: #000000;
}